<a href="https://colab.research.google.com/github/ab17254/dissertation/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://www.dropbox.com/s/jh40sd8xebjg9pn/ge_2017.sqlite.zip?dl=1

--2021-03-25 22:25:07--  https://www.dropbox.com/s/jh40sd8xebjg9pn/ge_2017.sqlite.zip?dl=1
Resolving www.dropbox.com (www.dropbox.com)... 162.125.2.18, 2620:100:6017:18::a27d:212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.2.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/dl/jh40sd8xebjg9pn/ge_2017.sqlite.zip [following]
--2021-03-25 22:25:08--  https://www.dropbox.com/s/dl/jh40sd8xebjg9pn/ge_2017.sqlite.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucee7ca7f5ded689d64714f4e0be.dl.dropboxusercontent.com/cd/0/get/BLbnE_A41Ke8KMEfVLRxISl7VZIL4Mp3joyfuoBEz7z6SegRCUzk2_-MV6M8w4hNPSjylr5XzcYdpTxEh2TSz182sHg59MGyJDq0lL6U_rXWR7CLpAM1faQfyFPyh2LwhKzzSfcmKjoNlxmcOnLMuStU/file?dl=1# [following]
--2021-03-25 22:25:08--  https://ucee7ca7f5ded689d64714f4e0be.dl.dropboxusercontent.com/cd/0/get/BLbnE_A41Ke8KMEfVLRxISl7VZIL4Mp3joyfuoBEz7z6SegRCUzk2_-MV6M8w4hNPSjylr5XzcYdpTxEh2TSz182sHg59MGyJDq0lL6U_rXWR7CLpAM1faQfyFPyh2LwhKzzSfcmKjoNlxmcOnLMuStU/file?dl=1
Resolving ucee7ca7f5ded689d64714f4e0be.dl.dropboxusercontent.com (ucee7ca7f5ded689d64714f4e0be.dl.dropboxusercontent.com)... 162.125.2.15, 2620:100:6017:15::a27d:20f
Connecting to ucee7ca7f5ded689d64714f4e0be.dl.dropboxusercontent.com (ucee7ca7f5ded689d64714f4e0be.dl.dropboxusercontent.com)|162.125.2.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31772915 (30M) [application/binary]
Saving to: ‘ge_2017.sqlite.zip?dl=1’

ge_2017.sqlite.zip? 100%[===================>]  30.30M  58.0MB/s    in 0.5s

2021-03-25 22:25:09 (58.0 MB/s) - ‘ge_2017.sqlite.zip?dl=1’ saved [31772915/31772915]

In [2]:
!unzip /content/ge_2017.sqlite.zip?dl=1 \
-d /content/data

Archive:  /content/ge_2017.sqlite.zip?dl=1
  inflating: /content/data/ge_2017.sqlite
   creating: /content/data/__MACOSX/
  inflating: /content/data/__MACOSX/._ge_2017.sqlite

In [3]:
import pandas as pd
import sqlite3
import re
import numpy as np
import collections
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

In [4]:
con_ge2017 = sqlite3.connect('/content/data/ge_2017.sqlite')

In [6]:
users = pd.read_sql_query('''SELECT *
FROM users
WHERE screen_name_in = "1" 
''', con_ge2017)

In [10]:
users

      verified             location  ... user_created_at_dt screen_name_in
0            0  Mostly in Liverpool  ...       1.233943e+09              1
1            0              Grimsby  ...       1.241954e+09              1
2            1  Edinburgh, Scotland  ...       1.401921e+09              1
3            0    Market Harborough  ...       1.418133e+09              1
4            0       Ealing, London  ...       1.299070e+09              1
...        ...                  ...  ...                ...            ...
1050         0                 None  ...       1.387750e+09              1
1051         0           Winchester  ...       1.379944e+09              1
1052         0     ollerton England  ...       1.409507e+09              1
1053         0       United Kingdom  ...       1.458056e+09              1
1054         0               London  ...       1.246297e+09              1

[1055 rows x 19 columns]

In [18]:
tweets = pd.read_sql_query('''SELECT *
FROM tweets AS a
INNER JOIN users AS b
ON a.user_id_str = b.user_id_str
WHERE b.screen_name_in = "1"
''', con_ge2017)

In [27]:
tweets.groupby(['screen_name']).count().sort_values(['doc_id'], ascending=False)

                 doc_id  text  ...  user_created_at_dt  screen_name_in
screen_name                    ...
DrTeckKhong         149   149  ...                 149             149
opgiftbox           146   146  ...                 146             146
stevebeasant        127   127  ...                 127             127
politicallynate     127   127  ...                 127             127
lynbrownmp           97    97  ...                  97              97
...                 ...   ...  ...                 ...             ...
cmartinLD             1     1  ...                   1               1
patrickloweukip       1     1  ...                   1               1
FlickD                1     1  ...                   1               1
FoysolChoudhury       1     1  ...                   1               1
MarkFieldUK           1     1  ...                   1               1

[1055 rows x 47 columns]